<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-info display-1 text-center">LISTADO DE EQUIPOS</div>
    <form method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="agregar equipo" class="btn btn-info">
    </form>
    <a href="../equipos" class="btn btn-info mt-5">EQUIPOS</a>
</body>
</html>