<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-info display-1 text-center">LISTADO DE EQUIPOS</div>
    {% if equipo %}

    <table>
        <thead>
            <tr>
                <th>Nombre Equipo</th>
                <th>Ciudad</th>
                <th>Conferencia</th>
                <th>Estadio</th>
                <th>Año Fundacion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equipos in equipo}
            <tr>
                <td>{{equipos.nombreEquipo}}</td>
                <td>{{equipos.ciudad}}</td>
                <td>{{equipos.conferencia}}</td>
                <td>{{equipos.estadio}}</td>
                <td>{{equipos.anioFundacion}}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran proyectos en el sistema</strong>
    </div>
    {% endif%}

    <a href="../" class="btn btn-danger">Volver</a>
    <a href="../agregarEquipo" class="btn btn-info float-end">Agregar Equipo</a>
</body>
</html>